/*
input,
select {
  padding: 12px;
}

.text-center {
  text-align: center;
}

.bg-red {
  background-color: #ff7a77;
  text-align: center;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.text-red {
  color: red;
}

.text-green {
  color: #009900;
}

.sidebar {
  margin-left: 0px;
}

.font-size-24 {
  font-size: 24px;
}

.font-size-20 {
  font-size: 20px;
}

.text-orange {
  color: #ff8000;
}

.font-weight-bold {
  font-weight: bold;
}

.font-size-16 {
  font-size: 16px;
}

.content {
  padding-left: 20px;
}

.border-silver {
  border: 1px solid #c0c0c0;
}

.border-radius-8 {
  border-radius: 8px;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.p-11 {
  padding: 11px;
}

.text-red {
  color: #bb0000;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.ml-8 {
  margin-left: 8px;
}

.mt-14 {
  margin-top: 14px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mr-35 {
  margin-right: 35px;
}

.btn-blue {
  background-color: #30a0ff;
  border-color: #30a0ff;
  border-radius: 8px;
  box-shadow: none;
  margin: 3px;
}

.btn-white {
  background-color: white;
  border-color: #c0c0c0;
  border-radius: 8px;
  box-shadow: none;
  margin: 3px;
}

.mt-10 {
  margin-top: 10px;
}

input,
select {
  margin-left: 10px;
  border: 1px solid #c0c0c0;
  border-radius: 8px;
}

.text-right {
  text-align: right;
}

.active-tab {
  background-color: #c0c0c0;
}

.w-100 {
  width: 100%;
}

th {
  text-align: left;
  background-color: white;
}

.w-20 {
  width: 20px;
}

.h-20 {
  height: 20px;
}

td,
th {
  padding: 15px;
}

table tr:nth-child(odd) {
  background-color: #eee;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-bottom: 20px;
  margin-left: 32px;
}

.mt-20 {
  margin-top: 20px;
}

.cursor-pointer {
  cursor: pointer;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: between;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.p-multiselect-label {
  height: 48px;
  vertical-align: middle;
}
.my-20 {
  margin-top: 32px;
  margin-bottom: 22px;
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.center-input {
  margin-right: auto;
  margin-left: 35%;
}

.right-input {
}

::ng-deep .p-multiselect-label {
  display: flex !important;
  align-items: center !important;
  margin-left: 8px !important;
}

.btn-blue:disabled,
.btn-blue[disabled] {
  opacity: 0.5;
}
*/

.text-green{
  color: #009900;
}

.text-red{
  color: #bb0000;
}