.mt-15 {
  margin-top: 15px;
}

.border-bottom {
  border-bottom: 0.5px solid #c0c0c0;
}

.text-right {
  text-align: right;
}

.pb-15 {
  padding-bottom: 15px;
}
.w-50 {
  width: 50%;
  box-sizing: border-box;
  display: flex;
}

.w-60 {
  width: 60%;
  box-sizing: border-box;
  display: flex;
}

.w-40 {
  width: 40%;
  box-sizing: border-box;
  display: flex;
}
.w-full {
  width: 100%;
  box-sizing: border-box;
  display: flex;
}

.child {
  flex: 1;
  width: 23%;
}

.border-secondary {
  border: 1px solid #a9a9a9;
}

.align-items {
  align-items: center;
}
.p4 {
  padding: 4px 8px;
}

.inputText {
  color: #000 !important;
}
::placeholder {
  color: #c0c0c0;
  opacity: 1;
}

::ng-deep .p-dropdown-label.p-placeholder {
  color: #c0c0c0 !important; /* Usa !important si es necesario */
}

::ng-deep .p-dropdown-label:not(.p-placeholder) {
  color: #000 !important; /* Usa !important si es necesario */
}

/* Usa ::ng-deep para el placeholder del p-calendar en rojo */
::ng-deep .p-inputtext.p-placeholder {
  color: #c0c0c0 !important; /* Aplica color rojo al placeholder */
}

/* Usa ::ng-deep para el texto seleccionado en verde */
::ng-deep .p-inputtext:not(.p-placeholder) {
  color: #000 !important; /* Aplica color verde al texto seleccionado */
}
.add {
  box-sizing: border-box;
}

::ng-deep .p-dropdown .p-dropdown-label {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
