.title-modal {
  font-size: 24px;
  color: #009900;
  text-align: center;
}
.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
  align-items: center;
}

.d-flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
}

.mt-15 {
  margin-top: 24px;
}

.mt-8 {
  margin-top: 8px;
}

.d-flex-end {
  display: flex;
  justify-content: flex-end;
}

.mt-40 {
  margin-top: 28px;
}
