<div style="padding: 20px 60px 60px">
  <p-toast />
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="inter title-modal">Crear incendio</div>
      </div>
      <div class="col-12">
        <div *ngIf="error" class="text-center alert alert-danger mt-3">
          Ha ocurrido un error inténtelo nuevamente
        </div>
      </div>

      <form (ngSubmit)="onSubmit()" [formGroup]="formData" class="mt-5">
        <div *ngIf="!showInputForeign">
          <div class="row">
            <div class="col-6">
              <sg-field
                label="Territorio"
                type="select"
                [options]="territories()"
                [formControl]="getForm('territory')"
                (change)="onChange($event)"
                [isRequired]="true"
              >
              </sg-field>
            </div>
            <div class="col-6">
              <sg-field
                label="Clase de suceso"
                type="select"
                [options]="events()"
                [formControl]="getForm('event')"
                [isRequired]="true"
              >
              </sg-field>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-6">
              <sg-field
                label="Provincia"
                type="select"
                [options]="provinces()"
                [formControl]="getForm('province')"
                [isRequired]="true"
                (change)="loadMunicipalities($event)"
              >
              </sg-field>
            </div>

            <div class="col-5">
              <sg-field
                label="Municipio"
                type="select"
                [options]="municipalities()"
                [formControl]="getForm('municipality')"
                [isRequired]="true"
                (change)="setMunicipalityId($event)"
              >
              </sg-field>
            </div>

            <div class="col-1">
              <div class="d-flex justify-content-center align-items-center">
                <img
                  (click)="openModalMapCreate()"
                  style="cursor: pointer"
                  src="/assets/img/location-btn.svg"
                  alt="location-btn"
                  width="30"
                />
              </div>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-6">
              <sg-field
                label="Denominación"
                type="text"
                [formControl]="getForm('denomination')"
                [isRequired]="true"
              >
              </sg-field>
            </div>
            <div class="col-6">
              <sg-field
                label="Fecha Inicio"
                type="date"
                [formControl]="getForm('startDate')"
                [isRequired]="true"
              >
              </sg-field>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-12">
              <sg-field
                label="Nota general"
                type="textArea"
                [isRequired]="true"
                [formControl]="getForm('generalNote')"
              >
              </sg-field>
            </div>
          </div>
        </div>

        <div *ngIf="showInputForeign">
          <div class="row">
            <div class="col-6">
              <sg-field
                label="Territorio"
                type="select"
                [options]="territories()"
                [formControl]="getForm('territory')"
                [isRequired]="true"
                (change)="onChange($event)"
              >
              </sg-field>
            </div>
            <div class="col-6">
              <sg-field
                label="Clase de suceso"
                type="select"
                [options]="events()"
                [formControl]="getForm('event')"
                [isRequired]="true"
              >
              </sg-field>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-6">
              <sg-field
                label="País"
                type="select"
                [options]="countries()"
                [formControl]="getForm('country')"
                [isRequired]="true"
              >
              </sg-field>
            </div>

            <div class="col-5">
              <sg-field
                label="Ubicación"
                type="text"
                [formControl]="getForm('ubication')"
                [isRequired]="true"
              >
              </sg-field>
            </div>

            <div class="col-1">
              <div class="d-flex justify-content-center align-items-center">
                <img
                  (click)="openModalMapCreate()"
                  style="cursor: pointer"
                  src="/assets/img/location-btn.svg"
                  alt="location-btn"
                  width="30"
                />
              </div>
            </div>
          </div>

          <div class="row mt-3 align-items-center justify-content-center">
            <div class="col-6">
              <sg-field
                label="Fecha Inicio"
                type="date"
                [formControl]="getForm('startDate')"
                [isRequired]="true"
              >
              </sg-field>
            </div>
            <div class="col-6 align-items-center justify-content-center">
              <div class="form-check mb-3">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                  formControlName="limitSpain"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  Limítrofe con España
                </label>
              </div>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-6">
              <sg-field
                label="Provincia"
                type="select"
                [options]="provinces()"
                [formControl]="getForm('province')"
                (change)="loadMunicipalities($event)"
                [isRequired]="true"
              >
              </sg-field>
            </div>

            <div class="col-6">
              <sg-field
                label="Municipio"
                type="select"
                [options]="municipalities()"
                [formControl]="getForm('municipality')"
                (change)="setMunicipalityId($event)"
                [isRequired]="true"
              >
              </sg-field>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-12">
              <sg-field
                label="Denominación"
                type="text"
                [formControl]="getForm('denomination')"
                [isRequired]="true"
              >
              </sg-field>
            </div>

            <div class="col-12">
              <sg-field
                label="Nota general"
                type="textArea"
                [isRequired]="true"
                [formControl]="getForm('generalNote')"
              >
              </sg-field>
            </div>
          </div>
        </div>
        <div class="d-flex-end">
          <div class="mt-40 mb-30 text-right">
            <button type="submit" class="btn btn-primary">
              <img src="/assets/img/check.svg" alt="check" />
            </button>

            <button
              type="button"
              (click)="closeModal()"
              class="btn btn-secondary"
              style="background-color: white; margin-left: 10px"
            >
              <img src="/assets/img/close.svg" alt="close" />
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
