<div class="d-flex justify-content-between">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <h1 class="text-info font-weight-bold font-size-32 calibri">
          Sistema de Gestión de Emergencia <br />
          y Apoyo a la Decisión
        </h1>
      </div>
      <div class="col-6">
        <div class="text-right">
          <h1 class="text-blue font-weight-bold calibri font-size-24 mt-18">
            Incendios forestales
          </h1>

          <h2 class="text-green calibri font-size-20 font-weight-500">
            Búsqueda de sucesos
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
<hr style="margin-top: 0px" />

<app-fire-filter-form [filtros]="filtros" [(fires)]="fires"></app-fire-filter-form>

<div class="mt-10">
  <app-fire-table [fires]="fires"></app-fire-table>
</div>
