* {
  font-family: "Calibri" !important;
}

.alert-success {
  background-color: green;
  color: white;
  margin-top: 10px;
  font-size: 16px;
  padding: 20px;
  margin-right: 30px;
}

.text-info {
  color: #156082;
}

.font-weight-bold {
  font-weight: bold;
}

.font-weight-500 {
  font-weight: 500;
}

.font-size-48 {
  font-size: 48px;
}

.calibri {
  font-family: "Calibri";
}

.d-flex {
  display: flex;
}

.text-blue {
  color: #3399ff;
}

.text-green {
  color: #009900;
}

.text-right {
  text-align: right;
}

.w-50 {
  width: 49%;
}

.mt-20 {
  margin-top: 50px;
}

.border-bottom {
  border-bottom: 0.5px solid #c0c0c0;
}

.form-control {
  color: #c0c0c0;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  border-color: #c0c0c0;
  font-size: 16px;
}

.w-16 {
  width: 15%;
  margin: 1% 1%;
}

.w-10 {
  width: 9.9%;
  margin: 1% 1%;
}

.w-100 {
  width: 100%;
}

th,
td {
  font-size: 16px;
}

tr:nth-child(even) {
  background-color: rgb(192, 192, 192, 0.4);
  border: 1px solid black;
}

th {
  text-align: left;
}

th,
td {
  padding: 12px;
}

.m--1 {
  margin-top: -1%;
}

.mr-50 {
  margin-right: 50px;
}

.ms-10 {
  margin-left: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.w-4699 {
  width: 46.99px;
}

.ms-50 {
  margin-left: 50px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}
.mt-18 {
  margin-top: 18px;
}

.p-dropdown {
  padding: 10px !important;
}
