<div>
  <div class="d-flex justify-content-between p-4">
    <div class="flex-fill text-start text-red font-20 fw-bold col-2">Nuevo</div>
    <div class="flex-fill text-center text-green font-20 fw-bold col-7">
      Datos de dirección y coordinación de la emergencia
    </div>
    <form (ngSubmit)="onSubmit()" class="flex-fill text-end col-3">
      <div class="d-flex justify-content-end gap-2">
        <button type="submit" class="btn btn-primary">
          <img src="/assets/img/check.svg" alt="check" />
        </button>

        <button
          type="button"
          class="btn btn-secondary"
          style="background-color: white"
          (click)="closeModal()"
        >
          <img src="/assets/img/close.svg" alt="close" />
        </button>

        <button
          type="button"
          class="btn btn-secondary"
          style="background-color: white"
        >
          <img src="/assets/img/back.svg" alt="back" />
        </button>
      </div>
    </form>
  </div>

  <div class="d-flex mx-4 p-4 gap-2">
    <div
      class="flex-shrink-0 d-flex gap-2 flex-column"
      style="flex-basis: 20%; max-width: 20%"
    >
      <div
        class="cursor-pointer font-16 border rounded p-2 text-truncate"
        style="width: 100%"
        (click)="scrollToSection('sectionDireccion')"
      >
        Dirección
      </div>
      <div
        class="cursor-pointer font-16 border rounded p-2 text-truncate"
        style="width: 100%"
        (click)="scrollToSection('sectionCECOPI')"
      >
        Coordinación CECOPI
      </div>
      <div
        class="cursor-pointer font-16 border rounded p-2 text-truncate"
        style="width: 100%"
        (click)="scrollToSection('sectionPMA')"
      >
        Coordinación PMA
      </div>
      <div
        class="cursor-pointer font-16 border rounded p-2 text-truncate"
        style="width: 100%"
        (click)="scrollToSection('sectionEmergencia')"
      >
        Activación Plan Emergencia con un texto largito
      </div>
    </div>

    <div class="flex-grow-1" style="flex-basis: 80%">
      <div class="d-flex justify-content-between" *ngIf="!isCreate()">
        <div class="font-size-16">
          <b>Alta:</b> sguijarro (SACOP) - 24/08/2024 17:24
        </div>

        <div class="font-size-16">
          <b>Ult. modificación:</b> sguijarro (SACOP) - 24/08/2024 17:24
        </div>
      </div>

      
      <div class="content border border-radius-2 overflow-auto p-4 " style="height: 560px;">

        <!-- Direccion -->
        <form
          (ngSubmit)="onSubmitDireccion()"
          [formGroup]="formularioDireccion"
          class="needs-validation000 was-validated000"
        >
          <div id="sectionDireccion" class="font-20 fw-bold text-orange mb-2">
            DIRECCION
          </div>
          <div class="row">
            <div class="col">
              <sg-field
                label="Dirección"
                type="select"
                [isRequired]="true"
                [formControl]="getFormDireccion('direccion')"
                [options]="listaDirecciones()"
                [isRequired]="true"
              >
              </sg-field>
            </div>

            <div class="col">
              <sg-field
                label="Autoridad"
                type="text"
                [isRequired]="true"
                [formControl]="getFormDireccion('autoridad')"
              >
              </sg-field>
            </div>
          </div>

          <div class="row">
            <div class="col-5">
              <sg-field
                label="Fecha Inicio"
                type="date"
                [isRequired]="true"
                [formControl]="getFormDireccion('fechaInicio')"
              >
              </sg-field>
            </div>

            <div class="col-5">
              <sg-field
                label="Fecha Fin"
                type="date"
                [isRequired]="true"
                [formControl]="getFormDireccion('fechaFin')"
              >
              </sg-field>
            </div>

            <div class="col-2">
              <button type="submit" class="btn-blue">
                <img
                  class="btn btn-primary"
                  src="/assets/img/plus.svg"
                  alt="check"
                />
              </button>
            </div>
          </div>

          <table class="table table-striped mb-4">
            <thead class="table-secondary">
              <tr>
                <th>Fecha inicio</th>
                <th>Fecha fin</th>
                <th>Dirección</th>
                <th>Autoridad</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <tr
                *ngFor="let direccion of direccionesInsertadas(); let i = index"
              >
                <td>{{ direccion.fechaInicio }}</td>
                <td>{{ direccion.fechaFin }}</td>
                <td>
                  {{ getDescripcion(listaDirecciones(), direccion.direccion) }}
                </td>
                <td>{{ direccion.autoridad }}</td>

                <td>
                  <button
                    type="button"
                    (click)="onEditDireccion(i)"
                    class="btn-white"
                  >
                    <img
                      class="w-20 h-20"
                      src="/assets/img/edit-btn.svg"
                      alt="edit-btn"
                    />
                  </button>

                  <button
                    type="button"
                    (click)="onRemoveDireccion(i)"
                    class="btn-white"
                  >
                    <img
                      class="w-20 h-20"
                      src="/assets/img/close.svg"
                      alt="close"
                    />
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </form>
        
        <!-- CECOPI -->
        <form (ngSubmit)="onSubmitCECOPI()" [formGroup]="formularioCECOPI">
          <div id="sectionCECOPI" class="font-20 fw-bold text-orange mb-2">
            COORDINACION EN CECOPI
          </div>

          <div class="row">
            <div class="col">
              <sg-field
                label="Fecha Inicio"
                type="date"
                [isRequired]="true"
                [formControl]="getFormCECOPI('fechaInicio')"
              >
              </sg-field>
            </div>

            <div class="col">
              <sg-field
                label="Fecha Fin"
                type="date"
                [isRequired]="true"
                [formControl]="getFormCECOPI('fechaFin')"
              >
              </sg-field>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <sg-field
                label="Provincia"
                type="select"
                [isRequired]="true"
                [formControl]="getFormCECOPI('provincia')"
                [options]="listaProvincia()"
                [isRequired]="true"
                (change)="getMunicipiosByPronvincia($event)"
              >
              </sg-field>
            </div>

            <div class="col-4">
              <sg-field
                label="Municipio"
                type="select"
                [isRequired]="true"
                [formControl]="getFormCECOPI('municipio')"
                [options]="listaMunicipio()"
                [isRequired]="true"
              >
              </sg-field>
            </div>

            <div class="col-3">
              <sg-field
                label="Lugar"
                type="text"
                [formControl]="getFormCECOPI('lugar')"
                [isRequired]="true"
              >
              </sg-field>
            </div>

            <div class="col-1 d-flex justify-content-center mb-3">
              <div class="form-floating">
                <img
                  src="/assets/img/location-btn.svg"
                  height="20px"
                  alt="location"
                  class="cursor-pointer"
                  (click)="openModalMapCreate(formularioCECOPI)"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-10">
              <sg-field
                label="Observaciones"
                type="textArea"
                [isRequired]="true"
                [formControl]="getFormCECOPI('observaciones')"
                [isRequired]="true"
              >
              </sg-field>

            </div>
            <div class="col-2">
              <button type="submit" class="btn-blue">
                <img
                  class="btn btn-primary"
                  src="/assets/img/plus.svg"
                  alt="check"
                />
              </button>
            </div>
          </div>

          <table class="table table-striped mb-4">
            <thead class="table-secondary">
              <tr>
                <th>Fecha inicio</th>
                <th>Fecha fin</th>
                <th>Lugar</th>
                <th>Ubicación</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let CECOPI of CECOPIInsertadas(); let i = index">
                <td>{{ CECOPI.fechaInicio }}</td>
                <td>{{ CECOPI.fechaFin }}</td>
                <td>{{ CECOPI.lugar }}</td>
                <td>{{ CECOPI.ubicacion }}</td>

                <td>
                  <button
                    type="button"
                    (click)="onEditCECOPIInsertadas(i)"
                    class="btn-white"
                  >
                    <img
                      class="w-20 h-20"
                      src="/assets/img/edit-btn.svg"
                      alt="edit-btn"
                    />
                  </button>

                  <button
                    type="button"
                    (click)="onRemoveCECOPIInsertadas(i)"
                    class="btn-white"
                  >
                    <img
                      class="w-20 h-20"
                      src="/assets/img/close.svg"
                      alt="close"
                    />
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </form>
        
        <!-- PMA  -->
        <form (ngSubmit)="onSubmitPMA()" [formGroup]="formularioPMA">
          <div id="sectionPMA" class="font-20 fw-bold text-orange mb-2">
            COORDINACION EN PMA
          </div>

          <div class="row">
            <div class="col">
              <sg-field
                label="Fecha inicio"
                type="date"
                [isRequired]="true"
                [formControl]="getFormPMA('fechaInicio')"
                [isRequired]="true"
              >
              </sg-field>
            </div>

            <div class="col">
              <sg-field
                label="Fecha Fin"
                type="date"
                [isRequired]="true"
                [formControl]="getFormPMA('fechaFin')"
                [isRequired]="true"
              >
              </sg-field>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <sg-field
                label="Provincia"
                type="select"
                [isRequired]="true"
                [formControl]="getFormPMA('provincia')"
                [options]="listaProvincia()"
                [isRequired]="true"
                (change)="getMunicipiosByPronvincia($event)"
              >
              </sg-field>
            </div>

            <div class="col-4">
              <sg-field
                label="Municipio"
                type="select"
                [isRequired]="true"
                [formControl]="getFormPMA('municipio')"
                [options]="listaMunicipio()"
                [isRequired]="true"
              >
              </sg-field>
            </div>

            <div class="col-3">
              <sg-field
                label="Lugar"
                type="text"
                [isRequired]="true"
                [formControl]="getFormPMA('lugar')"
                [isRequired]="true"
              >
              </sg-field>
            </div>

            <div class="col-1 d-flex justify-content-center mb-3">
              <div class="form-floating">
                <img
                  src="/assets/img/location-btn.svg"
                  height="20px"
                  alt="location"
                  class="cursor-pointer"
                  (click)="openModalMapCreate(formularioPMA)"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-10">
              <sg-field
                label="Observaciones"
                type="textArea"
                [isRequired]="true"
                [formControl]="getFormPMA('observaciones')"
                [isRequired]="true"
              >
              </sg-field>

            </div>
            <div class="col-2">
              <button type="submit" class="btn-blue">
                <img
                  class="btn btn-primary"
                  src="/assets/img/plus.svg"
                  alt="check"
                />
              </button>
            </div>
          </div>

          <table class="table table-striped mb-4">
            <thead class="table-secondary">
              <tr>
                <th>Fecha inicio</th>
                <th>Fecha fin</th>
                <th>Lugar</th>
                <th>Ubicación</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let PMA of PMAInsertadas(); let i = index">
                <td>{{ PMA.fechaInicio }}</td>
                <td>{{ PMA.fechaFin }}</td>
                <td>{{ PMA.lugar }}</td>
                <td>{{ PMA.ubicacion }}</td>

                <td>
                  <button
                    type="button"
                    (click)="onEditPMAInsertadas(i)"
                    class="btn-white"
                  >
                    <img
                      class="w-20 h-20"
                      src="/assets/img/edit-btn.svg"
                      alt="edit-btn"
                    />
                  </button>

                  <button
                    type="button"
                    (click)="onRemovePMAInsertadas(i)"
                    class="btn-white"
                  >
                    <img
                      class="w-20 h-20"
                      src="/assets/img/close.svg"
                      alt="close"
                    />
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

        </form>
        

        <!-- Emergencia -->
        <form
          (ngSubmit)="onSubmitEmergencia()"
          [formGroup]="formularioEmergencia"
        >
          <div id="sectionEmergencia" class="font-20 fw-bold text-orange mb-2">
            ACTIVACION DE PLANES DE EMERGENCIA
          </div>

          <div class="row">
            <div class="col">
              <sg-field
                label="Tipo de Plan"
                type="select"
                [isRequired]="true"
                [formControl]="getFormEmergencia('tipoPlan')"
                [options]="listaTipoPlan()"
                [isRequired]="true"
              >
              </sg-field>
            </div>

            <div class="col">
              <sg-field
                label="Nombre del Plan"
                type="select"
                [isRequired]="true"
                [formControl]="getFormEmergencia('nombre')"
                [options]="listaNombrePlan()"
                [isRequired]="true"
              >
              </sg-field>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <sg-field
                label="Autoridad que lo activa"
                type="text"
                [isRequired]="true"
                [formControl]="getFormEmergencia('autoridadActiva')"
                [isRequired]="true"
              >
              </sg-field>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="mb-3">
                <div class="form-floating">
                  <input
                    formControlName="documento"
                    type="file"
                    [class]="getValid(formularioEmergencia, 'documento')"
                    id="documento"
                    placeholder="Documento de activación"
                  />
                  <label for="documento">Documento de activación</label>
                  <div class="invalid-feedback">Campo requerido</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <sg-field
                label="Fecha inicio"
                type="date"
                [isRequired]="true"
                [formControl]="getFormEmergencia('fechaInicio')"
                [isRequired]="true"
              >
              </sg-field>
            </div>

            <div class="col">
              <sg-field
                label="Fecha fin"
                type="date"
                [isRequired]="true"
                [formControl]="getFormEmergencia('fechaFin')"
                [isRequired]="true"
              >
              </sg-field>
            </div>
          </div>

          <div class="row">
            <div class="col-10">
              <sg-field
                label="Observaciones"
                type="textArea"
                [isRequired]="true"
                [formControl]="getFormEmergencia('observaciones')"
                [isRequired]="true"
              >
              </sg-field>
            </div>
            <div class="col-2">
              <button type="submit" class="btn-blue">
                <img
                  class="btn btn-primary"
                  src="/assets/img/plus.svg"
                  alt="check"
                />
              </button>
            </div>
          </div>

          <table class="table table-striped mb-4">
            <thead class="table-secondary">
              <tr>
                <th>Tipo de plan</th>
                <th>Nombre del plan</th>
                <th>Fecha inicio</th>
                <th>Fecha fin</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <tr
                *ngFor="
                  let emergencia of emergenciasInsertadas();
                  let i = index
                "
              >
                <td>
                  {{ getDescripcion(listaTipoPlan(), emergencia.tipoPlan) }}
                </td>
                <td>{{ emergencia.nombre }}</td>
                <td>{{ emergencia.fechaInicio }}</td>
                <td>{{ emergencia.fechaFin }}</td>

                <td>
                  <button
                    type="button"
                    (click)="onEditEmergenciaInsertada(i)"
                    class="btn-white"
                  >
                    <img
                      class="w-20 h-20"
                      src="/assets/img/edit-btn.svg"
                      alt="edit-btn"
                    />
                  </button>

                  <button
                    type="button"
                    (click)="onRemoveEmergenciaInsertada(i)"
                    class="btn-white"
                  >
                    <img
                      class="w-20 h-20"
                      src="/assets/img/close.svg"
                      alt="close"
                    />
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>
