/* You can add global styles to this file, and also import other style files */
@import "../node_modules/primeng/resources/themes/lara-light-blue/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeicons/primeicons.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 1px striked red;
  font-family: "Inter" !important;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

hr {
  border-color: #c0c0c0 !important;
}

.gap-5 {
  gap: 10px;
}

.cursor-pointer {
  cursor: pointer;
}

.calibri {
  font-family: "Calibri" !important;
}

.inter {
  font-family: "Inter" !important;
}

.cursor-pointer {
  cursor: pointer;
}

.mt-32 {
  margin-top: 32px;
}

.mb-34 {
  margin-bottom: 34px;
}

.mb-75 {
  margin-bottom: 75px;
}

.w-213 {
  width: 231px !important;
}

.text-center {
  text-align: center;
}

.main {
  width: 100%;
  margin-left: 25px;
}

.mr-5 {
  margin-right: 5px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-24 {
  font-size: 24px;
}
.font-size-32 {
  font-size: 32px;
}
.font-size-48 {
  font-size: 48px;
}

.mt-0 {
  margin-top: 0px;
}

.ms-10 {
  margin-left: 10px;
}

.text-info {
  color: #156082 !important;
}

.font-weight-bold {
  font-weight: bold;
}

.text-uppercase {
  text-transform: uppercase;
}

.my-15 {
}
.mt-7 {
  margin-top: 15px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-13 {
  margin-bottom: 13px;
}
.rounded {
  border-radius: 50px !important;
}

.p-7 {
  padding: 7px;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.mr-14 {
  margin-right: 14px;
}

.w-70 {
  width: 70%;
}

.ms-23 {
  margin-left: 23px;
}

.w-full {
  width: 100%;
}

.border-secondary {
  border: 1px solid #a9a9a9;
}

.text-secondary {
  color: #a9a9a9;
}

.bg-secondary {
  background-color: #c0c0c0;
  color: white;
  font-family: "Inter";
  border: 0;
  width: 170px;
  border-radius: 50px;
  font-size: 14px;
  height: 41px;
  margin-right: 30px;
}

.active {
  background-color: #3399ff !important;
}

.p-12 {
  padding: 12px;
}
.mt-50 {
  margin-top: 50px;
}

.mt-55vh {
  margin-top: 25vh;
}

.event {
  margin-bottom: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.w-30 {
  width: 27%;
}

.border-radius-15 {
  border-radius: 15px;
}

.border-rounded {
  border-radius: 8px;
  border: 1px solid #a9a9a9;
}

.p-20 {
  padding: 20px;
}

.px-12 {
  padding-left: 10px;
  padding-right: 25px;
}

.justify-content-between {
  justify-content: space-between;
}

.p-inputtext {
  color: #c0c0c0 !important;
  border-radius: 8px !important;
  padding: 10px !important;
  border-color: #c0c0c0;
  font-size: 16px !important;
}

.p-dropdown {
  ul {
    padding: 10px !important;
    .p-element {
      margin-bottom: 5px !important;
    }
  }
}

.btn-blue {
  background-color: #30a0ff;
  border-color: #30a0ff;
  border-radius: 8px;
  box-shadow: none;
  margin: 3px;
  width: 36px;
  height: 36px;
  box-shadow: none;
  img {
    width: 30px;
    height: 30px;
    padding: 3px;
  }
}

.btn-white {
  background-color: white;
  border-color: #c0c0c0;
  border-radius: 8px;
  box-shadow: none;
  margin: 3px;
  width: 36px;
  height: 36px;
  img {
    width: 30px;
    height: 30px;
    padding: 3px;
  }
}

.btn-green {
  background-color: #157347;
  border-color: #157347;
  border-radius: 8px;
  box-shadow: none;
  margin: 3px;
  width: 36px;
  height: 36px;
  img {
    width: 30px;
    height: 30px;
    padding: 3px;
  }
}

calendaricon {
  margin-top: -10px;
}

.form-container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.form-container2 {
  width: 100%;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.form-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  box-sizing: border-box;
  gap: 16px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  max-width: 100%;
}

.form-column {
  flex: 1 1 0;
  min-width: 0;
  max-width: 100%;
}

.w-full {
  width: 100%;
}

.flex-container-input {
  display: flex;
  align-items: center;
  gap: 8px;
}

.underline {
  text-decoration: underline;
}

.p-dropdown {
  width: 100%;
  max-width: 100%;
}

.font-size-16 {
  font-size: 16px;
}

.mat-dialog-container .mat-mdc-dialog-surface {
  border-radius: 8px !important;
}

.p-dropdown-panel {
  max-width: 150px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

::ng-deep .p-dropdown .p-dropdown-label {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.p-dropdown-label {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-mdc-dialog-surface {
  border-radius: 8px !important;
}

.error-message {
  color: red;
  opacity: 0.7;
}

.p-dropdown-clear-icon {
  margin-top: -8px !important;
  margin-right: -12px !important;
}

.p-toast-message-content {
  padding: 12px !important;
}
.p-toast-message-text {
  margin-left: 12px;
}

.flex-label {
  white-space: nowrap;
  flex-shrink: 0;
}


.font-20{
  font-size: 20px;
}
.font-16{
  font-size: 16px;
}
.font-12{
  font-size: 12px;
}
.font-10{
  font-size: 10px;
}

.text-blue{
  color: #3399ff;
}
.text-orange{
  color: #ff8000;
}

.text-red {
  color: #bb0000;
}

.text-green {
  color: #009900;
}